# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# automake
Makefile
Makefile.in
autom4te.cache
config.*
depcomp
install-sh
missing
configure
aclocal.m4
.deps
INSTALL
compile
test-driver

.dirstamp
dEploid
dEploid_dbg

# unittest
test-suite.log
unit_tests
unit_tests.log
unit_tests.trs

# doxygen
html/

src/haplotype-sampling.cpp
src/haplotype-sampling.r
tests/recomb.prob
dEploid_prof
tmp*


# temporary prefix used in experimenting things...
labStrains/PG0*
pf3k-dEploid.*
PG0400.C*
PG0389.C*
toy*
PG400*
PG0*
txt.*
vcf.*

# coverage test
*.gcda
*.gcno
*.gcov
libbash_test.info
test_coverage/
