# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# automake
Makefile
Makefile.in
autom4te.cache
config.*
depcomp
install-sh
missing
configure
aclocal.m4
.deps
INSTALL
compile
test-driver

.dirstamp
pfDeconv
pfDeconv_dbg
pfdeconv*.tar.gz

# unittest
test-suite.log
unit_tests
unit_tests.log
unit_tests.trs

# doxygen
html/

tmp.hap
tmp.llk
tmp.prop

src/haplotype-sampling.cpp
src/haplotype-sampling.r
src/jacob
tests/recomb.prob
pfDeconv_prof
tmp
labStrains/PG0*
pf3k-pfDeconv.*
